body {
  font-family: Arial, sans-serif;
  color: burlywood;
  background-color: red;
  margin: 20px;
}

nav a {
  text-decoration: none;
  margin-right: 10px;
  color: burlywood;
}

nav a.active {
  color: cornsilk;
  font-weight: 700;
  text-decoration: underline;
}
